<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hall of Fame Game Jam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI Pro -->
    <link href="css/flat-ui-pro.css" rel="stylesheet">


    <link rel="shortcut icon" href="img/favicon.ico">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script type="text/javascript" src="js/master.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="jam" ng-controller="MainCtrl">

    <div class="container">
      <div class="col-lg-12">
        <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">HOF7 Game Jam</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li ng-repeat="project in projects"><a href="#{{project.id}}">{{project.teamName}}</a></li>
                </ul>
              </li>
             </ul>

          </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
        <div class="col-xs-12">



          <h1>Game Jam for Cerebral Palsy</h1>
          <p>
            The Gaming Industry recognizes the need to be inclusive of gamers with disabilities and physical and cognitive difficulties. Full Sail is proud to help advance this awareness by working with the Conductive Education Center of Orlando (CECO) to challenge five teams to develop a game within 48 hours targeted at Students at CECO with Cerebral Palsy and other motor disabilities.
          </p>

        </div>
        <div ng-repeat="project in projects" class="col-xs-12" id="{{project.id}}">

          <h3>{{project.projectTitle}}</h3>
          <div class="col-md-8">
            <div ng-show="project.youTubeID">
              <youtube-video width="560" height="315" video-id="project.youTubeID"></youtube-video>
            </div>
            <p ng-show="project.screenImg">
              <img width="560" height="315" src="{{project.screenImg}}" alt="" />
            </p>

            <p class="lead">
              {{project.description}}
            </p>
          </div>
          <aside class="col-md-4">
            <div class="todo">
              <div class="todo-search" style="">
              Team: {{project.teamName}}
              </div>
              <ul>
                <li ng-repeat="member in project.members">
                  <div class="todo-icon fui-user"></div>
                  <div class="todo-content">
                    <h4 class="todo-name">
                      {{member.name}}
                    </h4>
                      {{member.role}}
                  </div>
                </li>
              </ul>
            </div><!-- /.todo -->
            <p>
              <a href="{{project.githubLink}}" target="_blank" class="btn btn-block btn-lg btn-info">View Source</a>
            </p>
            <p>
              <a href="{{project.downloadLink}}" target="_blank" class="btn btn-block btn-lg btn-primary">Download Game</a>
            </p>
          </aside>

        </div> <!-- /team -->
      </div><!-- /.container -->
    </div>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/video.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/flat-ui-pro.js"></script>
    <!-- Include YT library and this directive -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="js/vendor/ytembed.js"></script>
  </body>
</html>
